body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App{
  align-items: center;
  background-color: gray;
}
.container{
  float: left;
  border: 2px solid rgb(14, 141, 99);
  width: 350px;
  height: 450px;
  margin: 30px;
  text-align: center;
  background: url(./images/aurora2.jpg) no-repeat center;

  animation: container-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  
 

}
h3{
  color: rgb(255, 94, 0);
  padding-top: 30px;

}

